@charset 'utf-8';
/* 기본, 모바일 우선 */
.main-section {
  padding: 6.4rem 0;
}
.main-section-visual, .main-section-cs {
  padding: 0;
}
.main-section-visual {}
.main-container {}
.visual-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  padding: 0;
  color: #fff;
}
.visual-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.v-slide {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  transition: var(--speed);
}
.v-slide:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #000;
  opacity: 0.25;
}
.v-slide:nth-child(3):after {
  background-color: var(--primary-color);
}
.v-slide.active {/* 화면에 보이는 슬라이드 활성화 */
  left: 0;
  z-index: 1;
}
.v-slide.prev {
  left: -100%;
  z-index: 0;
}
.v-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: left top; */
}
/* 비주얼 텍스트  */
.v-txt {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
.container,  .container-s {
  padding: 0.8rem;
  margin : 1rem 0;
  overflow: hidden;
}
.txt {
  /* font-size: 8.6rem; ???? */
  font-size: 4.5rem; 
  font-weight: bold;
  line-height: 1.2;
  opacity: 0;
  /* white-space: nowrap; */
}
.txt-s {
  font-size: 2rem;
  opacity: 0;
}
.animate .txt {
  animation-name: mask-slogan-ani;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: both ;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation-play-state: paused; */
} 
.animate .txt-s {
  animation: mask-slogan-s-ani 4s infinite both;
  /* animation-play-state: paused; */
}

/* 이동버튼 영역 */
.visual-pagination {
  position: absolute;
  left: 0;
  bottom: 50%;
  display: flex;
  gap: 0.6rem;
  padding-left: 0.8rem;
  z-index: 10;
}
.visual-pagination button {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  text-indent: -9999em;
  overflow: hidden;
  transition: var(--speed);
  cursor: pointer;
}
.visual-pagination button.active {
  width: 6.3rem;
}

.scroll {
  position: absolute;
  right: 1rem;
  bottom: 10%;
  width: 10rem;
  height: 10rem;
  z-index: 10;
  overflow: hidden;
}
.emblem {
  width: 100%;
  height: 100%;
  background: url('../images/scroll_down.svg') center center / contain no-repeat;
  animation: rotate-ani 4s linear infinite;
}
.mouse {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2.2rem;
  height: 4rem;
  border-radius: 1.1rem;
  transform: translate(-50%, -50%);
}
.mouse:before { /* 마우스 안쪽 도형 마스크 */
  position: absolute;
  inset: 0; /* left, top, right, bottom 모두 0, 너비와 높이를 100% 설계한 것과 동일 */
  padding: 0.2rem;
  border-radius: inherit;
  background-image: linear-gradient(to bottom, rgba(255,255,255,1) 50%, rgba(255,255,255,0.3) 51%);
  background-size: auto 200%;
  -webkit-mask: linear-gradient(#f00 0 0) content-box, linear-gradient(#f00 0 0);
  mask: linear-gradient(#f00 0 0) content-box, linear-gradient(#f00 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  content: '';
  animation: mouse-line-ani 1.2s alternate infinite;
}
.mouse:after { /* 동그라미 위아래 마이크로 모션 */
  position: absolute;
  left: 50%;
  top: 15%;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  content: '';
  background-color: #fff;
  transform: translateX(-50%);
  animation: mouse-dot-ani 1.2s;
  animation-direction: alternate; /* 왕복 */
  animation-iteration-count: infinite; /* 2회 반복하려면 반복회수 4*/
}

/* 2. 제품 영역 */
.main-section-product {}
.product-container {}
.product-overview {}
.product-overview p:first-child {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.4;
}
.product-overview p:last-child {
  font-size: 1.8rem;
  color: #666;
  line-height: 1.5;
  text-align: right;
  font-weight: 300;
}
.product-contents {}
.product-item {
  margin: 6.4rem 0;
}
.product-item1 {}
.product-item a {
  display: block;
}
.product-item a::before {
  content: '';
  display: block;
  padding-top: 67.5%;
  margin-bottom: 3.2rem;
  background-color: #f00;
  background-size: 100%;
  background-position: center center;
  transition: var(--speed);
}
.product-item1 a::before {background-image: url(../images/productImg01.jpg);}
.product-item2 a::before {background-image: url(../images/productImg02.jpg);}
.product-item3 a::before {background-image: url(../images/productImg03.jpg);}
.product-item4 a::before {background-image: url(../images/productImg04.jpg);}
.product-item a:hover::before {
  border-radius: 6.4rem;
  background-size: 110%;
}
.product-item > a > * {
  transition: var(--speed);
}
.product-item dt {
  margin-bottom: 1rem;
  font-size: 2.8rem;
  font-weight: 600;
}
.product-item dd {
  position: relative;
  width: calc(100% - 4.8rem);
  line-height: 1.4;

}
.product-item .btn-arrow {
  position: absolute;
  right: -4.8rem;
  top: -5rem;
  transition: var(--speed);
}
.product-item a:hover > * {
  margin-left: 2rem;
}
.product-item a:hover .btn-arrow {
  right: 0;
}

/* 3. 지속가능경영  */
.main-section-esg {
  min-height: 100vh;
  background: url('../images/sustainBg-m.png') center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.esg-container {}
.h3-group {
  margin-bottom: 4rem;
  /* text-shadow: 0 0 4px #000; */
}
.h3-group h3 {
  font-size: 4.8rem;
  font-weight: 500;
  word-break: break-all;
}
.h3-desc {}
.esg-contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.esg-item {
  border-radius: 2.4rem;
  background-color: rgba(255,255,255,0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow: hidden;
}
.esg-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.4rem;
  font-weight: 500;
  font-size: 2rem;
  background: linear-gradient(90deg, rgba(0, 59, 131,0) 0%, rgba(0, 27, 60,0) 100%);
  opacity: 0.3;
  transition: 0.5s;
}
.esg-item a span {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.esg-item a span:before {
  font-family: var(--google-icon-font);
  font-size: 4rem;
  font-weight: 400;
}
.esg-item1 a span:before {content: '\e406';}
.esg-item2 a span:before {content: '\e78f';}
.esg-item3 a span:before {content: '\eaf6';}
.esg-item4 a span:before {content: '\ea70';}
.esg-item5 a span:before {content: '\e22b';}
.esg-item .btn-wh {
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}
.esg-item a:hover {
  opacity: 1;
  background: linear-gradient(90deg, rgba(0, 59, 131,1) 0%, rgba(0, 27, 60,1) 100%);
}

/* 4. 뉴스 */
.main-section-news {}
.news-container {}
.news-controls {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3.2rem;
}
.btn-control {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-transform: capitalize;
  font-weight: 500;
}
.divider {
  width: 0.1rem;
  height: 1rem;
  background-color: #000;
}
.btn-prev {}
.btn-next {}
.btn-prev::before {
  font-family: var(--google-icon-font);
  content: '\e314';
}
.btn-next::after {
  font-family: var(--google-icon-font);
  content: '\e315';
}
.news-slider-wrap {
  width: 100%;
  overflow: hidden;
}
.news-slider {
  display: flex;
  width: 300%;
}
.news-slide {
  display: flex;
  flex-direction: column;
  width: 33.3333%;
  padding-right: 2rem;
}
.news-slide span {
  display: block;
}
.news-slide .img {
  position: relative;
  padding-top: 100%; /* 비율 조정 */
}
.news-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율 유지 */
  /* object-position: right center; */
}
.subject {
  width: 100%;
  margin-top: 3.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date {
  color: var(--primary-color);
}

/* 5. 고객지원과 인재채용 */
.main-section-cs {}
.cs-container {}
.cs-item {
  transition: 0.5s;
}
.cs-item:hover {
  padding: 1.6rem;
}
.cs-item:hover .cs-inner {
  padding: 4.4rem 4rem;
  border-radius: 3.2rem;
  background-size: 120%;
  overflow: hidden;
}
.cs-center {}
.cs-career {}
.cs-inner { /* <a> */
  position: relative;
  display: block;
  padding: 6rem 4rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  transition: 0.5s;
}
.cs-inner:before { /* 색상 박스 */
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
}
.cs-center .cs-inner {background-image: url(../images/customerCenter.jpg);}
.cs-career .cs-inner {background-image: url(../images/career.jpg);}
.cs-center .cs-inner::before {
  background-color: #001d3f;
}
.cs-inner h3 {}
.cs-inner .h3-desc, .cs-inner .btn-arrow {
  opacity: 0.7;
}
.cs-inner span{
  display: block;
}
.kr {
  font-size: 1.6rem;
}
.en {
  font-size: 3.2rem;
}
.cs-inner .btn-arrow {
  margin-top: 4rem;
}

/* 1. 모바일 작은 사이즈 까지 */
@media screen and (max-width: 360px) {
}
/* 2. 모바일 보통 사이즈 까지*/
@media screen and (max-width: 767px) {
   
}
/* 3. 태블릿 보통 사이즈 */
@media screen and (min-width: 768px) {
  .txt {
    font-size: 5.4rem;
  }
  .product-contents {
      max-width: 64rem;
      margin-left: auto;
      margin-right: auto;
  }
  .esg-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
  }
  .esg-container .h3-group {
    padding-left: 20%;
    text-align: right;
  }
  .esg-contents {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    width: 100%;
    max-width: 68rem;
  }
  .esg-item { /* 비율박스(1:1) 부모가 너비, 자식은 너비에 비례하는 패딩 설계 */
    width: 31.3333%;
    margin: 1.5% 0;
  }
  .esg-item a {
    position: relative;
    padding-top: 100%;
  }
  .esg-item a > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }
  .esg-item .btn-arrow {
    position: absolute;
    right: 8%;
    top: 8%;
  }
  .news-slider {
    width: 150%;
  }
  .news-slide .img {
    padding-top: 56.25%; /* 비율 조정 */
  }
}
/* 4. 태블릿 큰 사이즈 960부터 */
@media screen and (min-width: 960px) {
  .product-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 8rem;
    max-width: inherit;
  }
  .product-item {
    width: 49%;
    margin: 0;
  }
  .product-item:nth-child(2n) {
    margin-top: 6rem;
  }
  .cs-container {
    display: flex;
  }
  .cs-item {
    width: 50%;
  }
}
/* 5. 태블릿 만*/
@media screen and (min-width: 768px) and (max-width: 1279px) {

}
/* 6. 랩탑 1280부터        *******************/
@media screen and (min-width: 1280px) {
  .main-section {
    padding: 8rem 0;
  }
  .main-section-visual, .main-section-cs {
  padding: 0;
}
  .txt {
    font-size: 7.5rem;
  }
  .visual-pagination {
    padding-left: 9.6rem;
  }
  .scroll {
    right: 9.6rem;
    bottom: 10%;
  }
  .product-overview {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .product-overview p:first-child {
    font-size: 3.6rem;
    margin-bottom: 0;
  }
  .main-section-esg {
    background-image: url(../images/sustainBg.jpg);
  }
  .esg-container {
    position: relative;
    width: 100%;
    padding-bottom: 8rem;
  }
  .esg-container .h3-group {
    position: absolute;
    right: 8rem;
    bottom: 0;
    margin-bottom: 0;
  }
  .esg-container h3 {
    font-size: 6rem;
  }
  .cs-container {
    height: 50vw;
  }
  .cs-item {
    height: 100%;
  }
  .cs-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
  .en {
    font-size: 4.8rem;
  }
  .news-slider {
    width: 100%;
  }
  .news-slider .img {
   padding-top: 100%; 
  }
}
/* 7. 랩탑 1440부터        *******************/
@media screen and (min-width: 1440px) {
  .main-section {
    padding: 14rem 0;
  }
  .main-section-visual, .main-section-cs {
    padding: 0;
  }
  .v-txt{
    padding: 0 9rem;
  }
  .product-overview p:first-child {
    font-size: 4.4rem;
  }
  .product-contents {
    gap: 6%;
  }
  .product-item {
    width: 47%;
  }
  .product-item:nth-child(2n) {
    margin-top: 8rem;
  }
  .esg-container .h3-group {
    padding-left: 30%;
  }
}
/* 8. 데스크탑 1921부터*/
@media screen and (min-width: 1921px) {}



/* 애니메이션 */
@keyframes mask-slogan-ani {
  0% {/* from {}  */
    transform: translateY(100%);
    opacity: 0;
  }
  25% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {/*to {} */
      transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes mask-slogan-s-ani {
  0% {transform: translateY(100%); opacity: 0;}
  25% {transform: translateY(100%); opacity: 0;}
  50% {transform: translateY(0); opacity: 1;}
  75% {transform: translateY(0); opacity: 1;}
  100% {transform: translateY(100%); opacity: 0;}
}

@keyframes rotate-ani {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes mouse-dot-ani {
  0% {top: 15%; width: 0.6rem; height: 0.6rem; opacity: 0.3;}
  100% {top: 80%; width: 0.3rem; height: 0.3rem; opacity: 1;}
}

@keyframes mouse-line-ani {
  100% { background-position: 0 0;}
  0% { background-position: 0 100%;}
}